@import url('CSS RESET.css');
@import url('alata.css');
@import url('josfin.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Alata', sans-serif;
    font-size: 14px;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark Gray: hsl(0, 0%, 55%);
    --Very Dark Gray: hsl(0, 0%, 41%);
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.sub {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

/* Navbar */


.slicknav_menu {
    display: none;
}


#main-section .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    text-align: left;


}

#main-section .logo img {
    width: 60%;
}

#main-section ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
}

#main-section ul li {
    list-style: none;
}

#main-section ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    padding: 1rem 1rem;



}


#main-section {
    background: url(../img/desktop/image-hero.jpg) no-repeat center center / cover;
    color: #fff;
}

#main-section .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70vh;

}

#main-section .header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    border: 1px solid #fff;
    padding: 1rem 3rem 1rem 1rem;
    letter-spacing: 5px;
}

/* About Section */

#about-section .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#about-seciton {
    position: relative;
}



#about-section .about-des {
    position: absolute;
    background-color: #fff;
    color: black;
    width: 500px;
    height: 300px;
    left: 50%;
    top: 120%;
    padding: 3.5rem;

}

#about-section img {
    width: 80%;
    height: 400px;
    object-fit: cover;
}

#about-section .about-img {
    margin: 6rem 2rem 2rem 2.5rem;
}

#about-section .about-des h1 {
    font-size: 2.5rem;
    margin: 1rem;
}

#about-section .about-des p {
    margin: 1rem;
    line-height: 1.5rem;
}

/* Image Section */

#img-section .img-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

#img-section .img-header h1 {
    font-size: 2.5rem;
}

.btn-primary {
    background: none;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    padding: 0.5rem 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin: 1rem;

}

#img-section .img-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 2rem 0;
}

#img-section .img-container {
    position: relative;
}



#img-section .img-container div {
    position: absolute;
    top: 80%;
    left: 10%;
}

#img-section .img-container p {
    font-size: 1.5rem;
    color: #fff;
}

/* Sweep To Right */
.hvr-sweep-to-right-1 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right-1:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    opacity: 0.8;
}

.hvr-sweep-to-right-1:hover,
.hvr-sweep-to-right-1:focus,
.hvr-sweep-to-right-1:active {
    color: white;
}

.hvr-sweep-to-right-1:hover:before,
.hvr-sweep-to-right-1:focus:before,
.hvr-sweep-to-right-1:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Footer */

#main-footer {
    background: #000;
    color: #fff;
}

#main-footer .container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

}

#main-footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

#main-footer img {
    width: 50%;
}

#main-footer span {
    font-size: 1.5rem;
    padding: 0.2rem;

}

#main-footer a {
    text-decoration: none;
    color: #fff;
}

#main-footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin-left: 1rem;

}

#main-footer ul li {
    list-style: none;
}

#main-footer ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    padding: 1rem 1rem;



}

/* Media queries */

@media screen and (max-width: 1440px) {
    /* About Section */

    #about-section .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #about-seciton {
        position: relative;
    }



    #about-section .about-des {
        position: absolute;
        background-color: #fff;
        color: black;
        width: 500px;
        height: 350px;
        left: 50%;
        top: 121%;
        padding: 3.5rem;

    }

    #about-section img {
        width: 80%;
        height: 400px;
        object-fit: cover;
    }

    #about-section .about-img {
        margin: 6rem 2rem 2rem 2.5rem;
    }

    #about-section .about-des h1 {
        font-size: 2.5rem;
        margin: 1rem;
    }

    #about-section .about-des p {
        margin: 1rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    /* About Section */

    #about-section .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #about-seciton {
        position: relative;
    }



    #about-section .about-des {
        position: absolute;
        background-color: #fff;
        color: black;
        width: 400px;
        height: 300px;
        left: 50%;
        top: 140%;
        padding: 2rem;

    }

    #about-section img {
        width: 80%;
        height: 400px;
        object-fit: cover;
    }

    #about-section .about-img {
        margin: 6rem 2rem 2rem 2.5rem;
    }

    #about-section .about-des h1 {
        font-size: 2rem;
        margin: 1rem;
    }

    #about-section .about-des p {
        margin: 1rem;
        line-height: 1.5rem;
    }


    /* Footer */

    #main-footer {
        background: #000;
        color: #fff;
    }

    #main-footer .container {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;

    }

    #main-footer .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    #main-footer img {
        width: 50%;
    }

    #main-footer span {
        font-size: 1.5rem;
        padding: 0.2rem;

    }

    #main-footer a {
        text-decoration: none;
        color: #fff;
    }

    #main-footer ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 40%;
        margin: auto 0;
        text-align: left;


    }

    #main-footer ul li {
        list-style: none;
    }

    #main-footer ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        padding: 0;



    }

    #main-footer .copy p {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {

    /* Navbar */

    .slicknav_menu {
        display: block;
        background: #000;
    }

    #main-section .main-nav ul {
        display: none;
    }


    /* About Section */

    #about-section .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    #about-seciton {
        position: inherit;
    }



    #about-section .about-des {
        position: initial;
        background-color: #fff;
        color: black;
        width: 100%;
        height: auto;
        text-align: center;
        padding: 2rem;

    }

    #about-section img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    #about-section .about-img {
        margin: 3rem 0;
    }

    #about-section .about-des h1 {
        font-size: 2rem;
        margin: 1rem;
    }

    #about-section .about-des p {
        margin: 1rem;
        line-height: 1.5rem;
    }

    /* Image Section */

    #img-section .img-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
    }

    #img-section .img-header h1 {
        font-size: 2.5rem;
    }

    .btn-primary {
        background: none;
        color: #000;
        text-decoration: none;
        border: 1px solid #000;
        padding: 0.5rem 3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        margin: 1rem;

    }

    #img-section .img-product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin: 2rem 0;
    }

    #img-section .img-container {
        position: relative;
    }



    #img-section .img-container div {
        position: absolute;
        top: 80%;
        left: 10%;
    }

    #img-section .img-container p {
        font-size: 1.5rem;
        color: #fff;
    }

    /* Footer */

    #main-footer {
        background: #000;
        color: #fff;
    }

    #main-footer .container {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        align-items: center;
        text-align: center;

    }

    #main-footer .row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    #main-footer img {
        width: 50%;
    }

    #main-footer span {
        font-size: 1.5rem;
        padding: 0.2rem;

    }

    #main-footer a {
        text-decoration: none;
        color: #fff;
    }

    #main-footer ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 1rem 0;
        text-align: center;


    }

    #main-footer ul li {
        list-style: none;
    }

    #main-footer ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        padding: 0;



    }

    #main-footer .copy p {
        font-size: 12px;
    }

}

@media screen and (max-width: 425px) {

    /* Main Section */
    #main-section .menu {
        justify-content: center;
    }

    #main-section .logo img {
        width: 70%;
    }


    #main-section {
        background: url(../img/mobile/image-hero.jpg) no-repeat center center / cover;
        color: #fff;
    }

    #main-section .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

    }

    #main-section .header h1 {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 300;
        border: 1px solid #fff;
        padding: 1rem 3rem 1rem 1rem;
        letter-spacing: 5px;
    }


    /* About Section */

    #about-section .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #about-seciton {
        position: inherit;
    }



    #about-section .about-des {
        position: initial;
        background-color: #fff;
        color: black;
        width: 100%;

        text-align: center;
        padding: 0.5rem;

    }

    #about-section img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    #about-section .about-img {
        margin: 2rem 0;
    }

    #about-section .about-des h1 {
        font-size: 1.5rem;
        margin: 1rem;
    }

    #about-section .about-des p {
        margin: 1rem;
        line-height: 1.5rem;
    }

    /* Image section */

    #img-section .img-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        flex-direction: column;
    }

    #img-section .img-header h1 {
        font-size: 1.5rem;
    }

    #img-section .img-product {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        margin: 2rem 0;
    }

    #img-section .img-container {
        position: relative;
    }



    #img-section .img-container div {
        position: absolute;
        top: 80%;
        left: 10%;
    }

    #img-section .img-container p {
        font-size: 1.5rem;
        color: #fff;
    }


    /* Footer */

    #main-footer {
        background: #000;
        color: #fff;
    }

    #main-footer .container {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        align-items: center;
        text-align: center;

    }

    #main-footer .row {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    #main-footer img {
        width: 50%;
    }

    #main-footer span {
        font-size: 1.5rem;
        padding: 0.2rem;

    }

    #main-footer a {
        text-decoration: none;
        color: #fff;
    }

    #main-footer ul {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 1rem 0;
        text-align: center;
        flex-direction: row;


    }

    #main-footer ul li {
        list-style: none;
    }

    #main-footer ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        margin: 0.5rem;


    }

    #main-footer .copy p {
        font-size: 12px;
    }


}

@media screen and (max-width: 375px) {
    #main-section .header h1 {
        font-size: 1.4rem;
    }
}